{{ $corp := index site.Data.corporate site.Language.Lang }}
{{ $contact := site.Data.support.contactURL }}
<aside class="article-about" aria-labelledby="about-title">
  <h2 id="about-title">{{ $corp.aboutHeading }}</h2>
  <a class="text-link" href="{{ "/company/" | relLangURL }}">{{ $corp.companyCTA }} <span aria-hidden="true">→</span></a>
  {{ if not (partial "content-has-link.html" (dict "content" .Content "url" $contact)) }}
  <a class="text-link" href="{{ $contact | safeURL }}">{{ $corp.contactCTA }} <span aria-hidden="true">↗</span></a>
  {{ end }}
</aside>
