{{- $menu := .menu -}}
{{- $currentPage := .page -}}
{{- $href := $menu.URL -}}
{{- $isExternal := or (findRE `^(?:[a-z]+:)?//` $href) (hasPrefix $href "#") -}}

{{- if not $isExternal -}}
    {{- $lookup := strings.TrimSuffix "/" $href -}}
    {{- if eq $lookup "" -}}
        {{- $lookup = "/" -}}
    {{- end -}}

    {{- $target := cond (eq $lookup "/") $currentPage.Site.Home ($currentPage.Site.GetPage $lookup) -}}
    {{- if not $target -}}
        {{- $defaultSite := index $currentPage.Site.Sites 0 -}}
        {{- $target = cond (eq $lookup "/") $defaultSite.Home ($defaultSite.GetPage $lookup) -}}
    {{- end -}}

    {{- if $target -}}
        {{- $href = $target.RelPermalink -}}
    {{- end -}}
{{- end -}}

{{- $href -}}
